 <h3>{{viewTitle}}</h3>

 <form action="/bookss" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{books._id}}">
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="title" placeholder="Title" value="{{books.title}}">
        <div class="text-danger">
            {{books.titleError}}</div>
    </div>
    <div class="form-group">
        <label>Author</label>
        <input type="text" class="form-control" name="author" placeholder="Author" value="{{books.author}}">
        <div class="text-danger">
            {{books.authorError}}</div>
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" name="description" placeholder="Description" value="{{books.description}}">
        <div class="text-danger">
            {{books.desdcriptionError}}</div>
    </div>
    <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control" name="price" placeholder="Price" value="{{books.price}}">
        <div class="text-danger">
            {{books.priceError}}</div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/book/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>